.block_integrate {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 162px;

    h2 {
        font-size: 65px;
        line-height: 75px;
        margin: 0 202px;
    }

    p {
        margin: 0 352px 26px;
    }
}