* {
    color: blue;
}

body {
    background: beige;
}

div li {
    color: blueviolet;
}

.card h2 {
    color: brown;
}

h1 {
    color: black;
}

#teal {
    color: teal;
}

.olive {
    background-color: orchid;
}

.olive .grey {
    color: grey;
}

ul>li {
    color: red;
}

ol+ul {
    background-color: aquamarine;
}
p~b {
    color: chocolate;
}